<head>
	<title>Top Ten App</title>
	<link href='bower_components/skeleton/css/normalize.css' rel="stylesheet">
    <link href='bower_components/skeleton/css/skeleton.css' rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1>Top Ten App</h1>
		<div id="appMount"><%- reactOutput %></div>
		<script src='app.js'></script>
	</div>
</body>
